<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1>Soins </h1>
    <h2>Rayonnez, Vibrez, Vivez </h2>
  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Adulte </h2>
    </div>

    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

            <div class="soin-card-body">

              <h2 class="card-title">Soin bioénergétique Acmos</h2>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px' %>
              <h3 class="card-text-question">Vous êtes fatigués, stressés, un moral un peu bas  <br>ou avez des maux physiques comme des maux de dos, migraines.. <br> ?</h3>
                <p>
                La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion.

                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie sur des mesures scientifiques, le principe de biorésonance et la stimulation des points d'accupuncture.
                <br> <br>En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

                <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes.
                <br> <br>L'action se fait donc sur la cause des symptômes et permet de déprogrammer des mémoires négatives.
                  <br><br>
                  A noter que le corps procède toujours par priorités. <br>De ce fait, un symptôme peut être une dégradation de plusieurs déséquilibres antérieurs.
                  Vous pouvez donc consulter pour un symptôme lourd mais avant de le voir disparaître vous allez voir plusieurs petits déséquilibres se rééquilibrer.
                </p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5"><%= link_to " En savoir plus", bioenergie_path %> </button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i>1h15 </button>
              <button class="button-soin mb-3 mr-5 type ="submit"><i class="fas fa-coins mr-2"></i> 150 CHF </button>

            </div>
          </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">



      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h2 class="card-title">Accompagnement</h2>
            <%= image_tag 'envol.jpeg', height: '100px', style:"border-radius:6px" %>
            <h3 class="card-text-question">Vous êtes dans une situation de vie, un schéma à répétition, <br>vous rencontrez des blocages redondants? </h3>
            <p class="card-text">L'accompagnement aide la personne dans la gestion d'une situation de vie, de schémas à répétitions,
              en tenant en compte l'équilibre entre vie professionnelle et personnelle.
              <br><br>L'accompagnement est une approche holistique de
              la personne où le client est un sujet libre et responsable. Il est capable de
              comprendre ses problèmes, de déterminer et d’utiliser ses valeurs et ses
              aspirations profondes.
              <br><br>Nous l’aidons à définir ses propres objectifs et l’incitons
              à aller vers leurs réalisations concrètes.
              <br><br><sup>*</sup>L'accompagnement est proposé aux personnes majeures et en capacité de discernement.
            </p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF / 30 min </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> de 30 min à 1h30 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-video"></i> ou <i class="fas fa-phone"></i></button>
          </div>
        </div>
        <% end %>
      </div>




    </div>
  </div>
</div>

<!-- code  soins 2ème ligne  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Enfant</h2>
    </div>
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>

            <div class="soin-card-body">
              <h2 class="card-title">Soin bioénergétique Acmos</h2>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px' %>
              <h3 class="card-text-question">Votre enfant est fatigué, anxieux, a du mal à se concentrer, à s'endormir, un moral un peu bas <br> ?</h3>
                <p>La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion.
                <br><br>Des médecins et des spécialistes du monde entier ont collaboré à l'élaboration de cette méthode.
                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie sur des mesures scientifiques et le principe de biorésonance.
                <br> En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

                <br><br>A noter que la biorésonance Acmos est différente de la biorésonance reposant sur l'utilisation d'appareils électroniques qui agissent sur les paramètres
                physiologiques, le champs centrifuge, c'est à dire les symptomes et non la cause.

                <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes. <br> <br>L'action se fait donc sur la cause des symptômes et permet de déprogrammer des mémoires négatives.
                  <br></h4>
                <p><sup>*</sup>Les soins chez les enfants se font uniquement avec la présence d'un parent.</h4>
            </div>
            <div class = "container justify-content-center mt-4">

              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h</button>
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 120 CHF</button>
            </div>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="container mb-2">
  <div class="row justify-content-center">
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text pt-0">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement médical.
              <br><br> Dans le cadre du covid-19, dans la mesure où les soins à distance ont la même efficacité que les soins sur place, les soins à distance sont privilégiés.</h4>
          </div>


      </div>
    </div>
  </div>
</div>
