<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1></i> Rayonnez, Vibrer, Vivez </h1>
    <h3>Votre santé, la santé de votre enfant et de votre animal</h3>
  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour vous </h3>
    </div>

    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

            <div class="soin-card-body">

              <h5 class="card-title">Soin bioénergétique Acmos</h5>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px' %>
              <p class="card-text-question">Vous êtes fatigués, stressés, un moral un peu bas  <br>ou avez des maux physiques comme des maux de dos, migraines.. <br> ?</p>
                <h4>
                La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion.

                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie sur des mesures scientifiques, le principe de biorésonance et la stimulation des points d'accupuncture.
                <br> <br>En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

                <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes.
                <br> <br>L'action se fait donc sur la cause des symptômes et permet de déprogrammer des mémoires négatives.
                  <br><br>
                  A noter que le corps procède toujours par priorités. <br>De ce fait, un symptôme peut être une dégradation de plusieurs déséquilibres antérieurs. Vous pouvez donc consulter pour un smptôme lourd mais avant de le voir disparaître vous allez voir plusieurs petits déséquilibres se rééquilibrer.
                </h4>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5"><%= link_to " En savoir plus", bioenergie_path %> </button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i>1h </button>
              <button class="button-soin mb-3 mr-5 type ="submit"><i class="fas fa-coins mr-2"></i> 150 CHF </button>

            </div>
          </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin bioénergétique Acmos à distance</h5>
            <%= image_tag 'TAD non flou.jpeg', height: '50px' %>
            <p class="card-text-question">Vous êtes fatigués, stressés, un moral un peu bas <br> ou avez des maux physiques <br> et vous préférez rester chez vous pour le soin? </p>
            <h4>Le soin repose sur le principe de base de la physique quantique :
              <br><br>notre corps matiere est géré par notre corps énergétique. Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.
          <br><br>De même que le soin sur place, le soin à distance repose sur le principe de biorésonance et l'antenne de Lecher est utilisé pour la reception et l'émission des champs énergétiques. En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.
          <br><br> Ce soin agit également dans le profond, au niveau du champ centripète, siège de la cause du symptôme.
            </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h30</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-broadcast-tower"></i></button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h5 class="card-title">Accompagnement</h5>
            <p class="card-text-question">Vous êtes dans une situation de vie, un schéma à répétition, <br>vous rencontrez des blocages redondants? </p>
            <h4 class="card-text">L'accompagnement aide la personne dans la gestion d'une situation de vie, de schémas à répétitions,
              en tenant en compte l'équilibre entre vie professionnelle et personnelle.
              <br><br>L'accompagnement est une approche holistique de
              la personne où le client est un sujet libre et responsable. Il est capable de
              comprendre ses problèmes, de déterminer et d’utiliser ses valeurs et ses
              aspirations profondes.
              <br><br>Nous l’aidons à définir ses propres objectifs et l’incitons
              à aller vers leurs réalisations concrètes.
              <br><br><sup>*</sup>L'accompagnement est proposé aux personnes majeures et en capacité de discernement.</h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 60 CHF / 30 min </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min - 1h30 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-video"></i> ou <i class="fas fa-phone"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Bain sonore thérapeutique</h5>
            <%= image_tag 'bols floute.jpeg', height: '100px' %>
            <p class="card-text-question">Vous souhaitez combiner un moment agréable de détente et un travail énergétique ?</p>
            <h4 class="card-text">Notre corps est constitué au minimum de 60%. L'eau est un très grand conducteur d'ondes.
              <br>Rappelez-vous, enfant quand vous jetiez un caillou dans l'eau, plein de petits cercles, longueurs d'ondes se dispersés tout autour.
              <br><br> De la même manière, les ondes des bols tibétains vont traverser votre corps. Ces ondes atteignent les cellules et permettent de réharmoniser votre état vibratoire de manière rapide.
              <br> </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min</button>
          </div>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

<!-- code  soins 2ème ligne  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour votre enfant</h3>
    </div>
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>

            <div class="soin-card-body">
              <h5 class="card-title">Soin bioénergétique Acmos</h5>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px' %>
              <p class="card-text-question">Votre enfant est fatigué, anxieux, a du mal à se concentrer, à s'endormir, un moral un peu bas <br> ?</p>
                <h4>La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion.
                <br><br>Des médecins et des spécialistes du monde entier ont collaboré à l'élaboration de cette méthode.
                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie sur des mesures scientifiques et le principe de biorésonance.
                <br> En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

                <br><br>A noter que la biorésonance Acmos est différente de la biorésonance reposant sur l'utilisation d'appareils électroniques qui agissent sur les paramètres
                physiologiques, le champs centrifuge, c'est à dire les symptomes et non la cause.

                <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes. <br> <br>L'action se fait donc sur la cause des symptômes et permet de déprogrammer des mémoires négatives.
                  <br></h4>
                <h4><sup>*</sup>Les soins chez les enfants se font uniquement avec la présence d'un parent.</h4>
            </div>
            <div class = "container justify-content-center mt-4">

              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h</button>
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 120 CHF</button>
            </div>
          <% end %>
        </div>
      </div>

     <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h5 class="card-title">Bain sonore thérapeutique</h5>
            <%= image_tag 'bols floute.jpeg', height: '80px' %>
            <p class="card-text-question">Votre enfant est souvent dispersé ?</p>
             <h4 class="card-text">Notre corps est constitué au minimum de 60%. L'eau est un très grand conducteur d'ondes.
              <br>Rappelez-vous, enfant quand vous jetiez un caillou dans l'eau, plein de petits cercles, longueurs d'ondes se dispersés tout autour.
              <br><br> De la même manière, les ondes des bols tibétains vont traverser le corps de votre enfant. <br>Ce soin est très doux, adaptés aux enfants. Ces ondes atteignent les cellules et permettent de réharmoniser son état vibratoire de manière rapide.
              <br> <br>Soin particulièrement recommandé pour les enfants crystal, or, indigo où l'ancrage est primordial pour leur équilibre.</h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 30 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 15 min </button>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!-- code  soins 3ème ligne -->
<div class="container  ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour votre animal de compagnie</h3>
    </div>
    <div class="soin-cards mb-5">
      <%= link_to contact_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin à distance sur les animaux</h5>
            <%= image_tag 'animaux.jpeg', height: '150px' %>
            <h4 class="mt-3 card-text">Le corps matiere de votre animal est géré par son corps énergétique. Ce dernier l'informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.
              <br><br>Le soin chez l'animal, comme pour chez l'homme, est là pour lui permettre de retrouver ses capacités d'autogestion.</h4>
          </div>
          <div class = "container justify-content-center mb-3 mt-5">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-broadcast-tower"></i></button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container pb-5 mb-5">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement médical.
              <br><br> Dans le cadre du covid-19, dans la mesure où les soins à distance ont la même efficacité que les soins sur place, les soins à distance sont privilégiés.</h4>
          </div>


      </div>
    </div>
  </div>
</div>
