<div class="container justify-content-center pt-5 mb-0 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1></i> Rayonnez, Vibrer, Vivez </h1>
    <h3>Votre santé, la santé de votre enfant et de votre animal</h3>
  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour vous </h3>
    </div>
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

            <div class="soin-card-body">
              <h5 class="card-title">Soin bioénergétique Acmos</h5>
              <p class="card-text-question">Vous êtes fatigué ou stressé ou un moral un peu bas ou avez des fluctuations d'humeur <br> des maux physiques comme des maux de dos, des migraines ou autre <br> ?</p>
                <p>La Méthode ACMOS a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve <br> sa capacité d'autogestion.
                <br><br>Des médecins et des spécialistes du monde entier ont collaboré à l'élaboration de cette méthode.
                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation <br> et s'appuie sur des mesures scientifiques.
                <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond, <br>sur la cause des symptômes et permet de déprogrammer des mémoires négatives.</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 type ="submit"><i class="fas fa-coins mr-2"></i> 150 CHF </button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i><%= link_to "1h30 - 2h", contact_path %></button>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin bioénergétique Acmos à distance</h5>
            <p class="card-text-question">Vous êtes fatigué ou stressé ou un moral un peu bas <br> ou des maux physiques <br> & vous n'avez pas la possibilité de vous déplacer? </p>
            <p>Notre corps matiere est géré par notre corps énergétique. Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h30 - 2h</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-broadcast-tower"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Bain sonore thérapeutique</h5>
            <p class="card-text">Votre corps est traversé d'ondes émanant des bols tibétains, permettant de réharmoniser votre état vibratoire de manière rapide.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min</button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h5 class="card-title">Coaching</h5>
            <p class="card-text">Le life coach ou coach de vie aide le coaché à créer un véritable projet de
              vie, tenant compte d’un équilibre entre vie professionnelle et personnelle.
              <br><br>Le coaching personnel ou coaching de vie est une approche holistique de
              la personne où le client est un sujet libre et responsable. Il est capable de
              comprendre ses problèmes, de déterminer et d’utiliser ses valeurs et ses
              aspirations profondes.
              <br><br>Le coach l’aide à définir ses propres objectifs et l’incite
              à aller vers leur réalisation concrète.
              <br><br>Le coaching personnel et le coaching de
              vie sont des approches novatrices.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF / 30 min </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min - 1h30 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-user-friends"></i> ou <i class="fas fa-video"></i></button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
        <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h5 class="card-title">Coach d'entreprises</h5>
            <p class="card-text">Le coach d'entreprises propose une méthodologie très pragmatique pour atteindre les objectifs professionnels et personnels des managers, des équipes et des dirigeants.
              <br><br>
              Au cours de ses interventions régulières, le Coach d’entreprises, véritable accompagnateur du changement,
              va aider son client à prendre conscience du potentiel inexploité qu’il possède pour ensuite lui apporter des
              outils et méthodes très concrètes.
              <br><br>Avec une boîte à outils très riche, il va aider à mettre en place des plans d’actions
              structurés et pérennes.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF / 30 min </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min - 1h30</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-user-friends"></i> ou <i class="fas fa-video"></i></button>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- code  soins 2ème ligne  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour votre enfant</h3>
    </div>
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>

            <div class="soin-card-body">
              <h5 class="card-title">Soin bioénergétique Acmos</h5>
              <p class="card-text">La Méthode ACMOS a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion et ce, dès le premier bilan.
                <br> <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre un protocole rigoureux d'investigation et s'appuie continuellement sur la mesure scientifique. Celle-ci est effectuée au moyen d'un appareillage sophistiqué, fruit de longues années de recherche et de mise au point.
                <br><br>Des médecins et des spécialistes du monde entier ont collaboré à ces travaux.
                La spécificité de cette Méthode est qu'elle agit dans le profond, sur la cause des symptômes et permet de déprogrammer des mémoires négatives.</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 120 CHF</button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h - 1h15 </button>
            </div>
          <% end %>
        </div>
      </div>

     <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <%= link_to contact_path, :action => 'go' do %>
          <div class="soin-card-body">
            <h5 class="card-title">Bain sonore thérapeutique</h5>
            <p class="card-text">Votre corps est traversé d'ondes émanant des bols tibétains, permettant de réharmoniser votre état vibratoire de manière rapide.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 30 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 15 min </button>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<!-- code  soins 3ème ligne -->
<div class="container pb-5 mb-3">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour votre animal de compagnie</h3>
    </div>
    <div class="soin-cards mb-5">
      <%= link_to contact_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin à distance sur les animaux</h5>
            <p class="card-text">Le corps matiere de votre animal est géré par son corps énergétique. Ce dernier l'informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.</p>
          </div>
          <div class = "container justify-content-center mb-3 mt-5">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h30 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-broadcast-tower"></i></button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

