<div class="container justify-content-center pt-5 mb-0 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1></i> Bioénergie  </h1>
    <h3>L'énergie au service de notre santé </h3>
  </div>
</div>

  <!-- code quels symptomes -->
<div class="container  ">
  <div class="row justify-content-center mt-2">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour quels symptômes ?</h3>
    </div>
    <div class="soin-cards mb-2">
      <%= link_to soins_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Redonner les capacités d'autogestion du corps </h5>
              <%= image_tag 'Chemin du symptome.jpeg', height: '400px', alt: "Chemin du symptôme"%>
            <h4 class="mt-3 card-text">Le travail énergétique travaille sur la cause du désordre.
              <br><br>Pour comprendre le lien entre l'énergétique et le symptôme, l'une des informations primordiales à connaître est que :
                <br> les déséquilibres au niveau vibratoire (ondes, ...), engendrent des déséquilibrent au niveau énergétique, puis au niveau organique et peuvent induire des lésions.
                <br> Le rôle du bioénergéticien est de réquilibrer avec le patient les déséquilibres au niveau vibratoire et énergétique afin d'éviter les répercusions au niveau organique et lésionnel.
                <br>
              <br><br>A noter que le corps procède par priorités, si un symptôme est la conséquence d'autres désordres,
              le corps, via un soin accès sur le centripète, va aller rééquilibrer en premier lieu la cause du désordre.
            <br> <br>D'après les données cliniques, les personnes consultent pour :
                <ul class = "mt-3 text-center"> Fatigue </ul>
                <ul class = "text-center">Stress</ul>
                <ul class = "text-center">Crises d'angoisses, peurs</ul>
                <ul class = "text-center">Burnout - Brownout</ul>
                <ul class = "text-center" >Baisse de moral</ul>
                <ul class = "text-center" >Insomnies</ul>
                <ul class = "text-center">Migraines</ul>
                <ul class = "text-center"> Autres maux physiques</ul> </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "> Découvrez nos soins</button>
            <button class="button-soin mb-3 mr-5"><%= link_to "Demande de renseignements", contact_path %></button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

  <!-- code 1ere ligne soins  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Qu'est ce que c'est ? </h3>
    </div>

    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to soins_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">La méthode</h5>
            <%= image_tag 'cabinet_radius.jpeg', height: '100px', alt: "Energétique et scientifique"%>
            <p class="card-text-question">Méthode Acmos d'équilibre énergétique global, depuis 1985 par le Dr. René Naccachian</p>
              <h4><br>La Méthode Acmos a pour objet de permettre au corps de reprendre le contrôle de ses circuits énergétiques afin qu'il retrouve sa capacité d'autogestion.
              <br><br>Des médecins et des spécialistes du monde entier ont collaboré à l'élaboration de cette méthode.
              <br><br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie sur des mesures scientifiques, le principe de biorésonance et la stimulation des points d'accupuncture.
              <br> <br>En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

              <br><br>A noter que la biorésonance Acmos est différente de la biorésonance reposant sur l'utilisation d'appareils électroniques qui agissent sur les paramètres
              physiologiques, le champs centrifuge, c'est à dire les symptomes et non la cause.

              <br><br>La spécificité de la méthode Acmos est qu'elle agit dans le profond via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes. <br> <br>L'action se fait donc sur la cause des symptômes et permet de déprogrammer des mémoires négatives.
                <br><br>
                A noter que le corps procède toujours par priorités. <br>De ce fait, un symptôme peut être une dégradation de plusieurs déséquilibres antérieurs. Vous pouvez donc consulter pour un smptôme lourd mais avant de le voir disparaître vous allez voir plusieurs petits déséquilibres se rééquilibrer.

                <br><br> C'est comme si l'on allait voir un réparateur de vélo car la roue ne tourne plus et on demande au réparateur : "changez-moi la roue" alors qu'en fait c'est potentiellement le pédalier qui est la cause.
              <br> <br>Effectivement, votre corps pour se rééquilibrer à besoin de se restructurer pour avoir une base solide. </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "> Découvrez nos soins</button>
            <button class="button-soin mb-3 mr-5"><%= link_to "Demande de renseignements", contact_path %></button>
          </div>
        <% end %>
        </div>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to soins_path, :action => 'go' do %>
        <div class="soin-card text-center">

            <div class="soin-card-body">
              <h5 class="card-title">Les outils </h5>
              <%= image_tag 'cabinet_radius.jpeg', height: '100px', alt: 'Materiel Biorésonance' %>
              <p class="card-text-question">Outils de mesures scientifiques, de transferts énergétiques <br>et de stimulation
                & produits</p>
                <h4>
                  <li> Outils de mesures scientifiques : Biofeedback, Antenne de Lecher</li>
                <br><li>Outils de transferts énergétiques et de stimulation : Antenne de Lecher, Quantacmos</li>
                <br> <li>Produits : huiles Essentielles, minéraux, oligoéléments, phyto, homéopathies</li>
                <br>Basée entre autre sur la médecine traditionnelle chinoise, elle met en œuvre des protocoles rigoureux d'investigation
                <br>et s'appuie sur des mesures scientifiques - Biofeedback - ,
                <br> le principe de biorésonance et la stimulation des points d'accupuncture - Quantacmos.
                <br> <br>En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

                </h4>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5"> Découvrez nos soins</button>
              <button class="button-soin mb-3 mr-5 type ="submit"> Demande de renseignements </button>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container  ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>A distance, comment ça marche ?</h3>
    </div>
    <div class="soin-cards mb-5">
      <%= link_to soins_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Soin à distance </h5>
            <%= image_tag 'antenne_Lecher.jpeg', height: '150px' %>
            <h4 class="mt-3 card-text">Le soin repose sur le principe de base de la physique quantique :
              <br><br>notre corps matiere est géré par notre corps énergétique. Ce dernier nous informe, par les champs énergétiques, des problèmes que lui pose le corps matière dans sa dimension physique et psychique.
          <br><br>De même que le soin sur place, le soin à distance repose sur le principe de biorésonance et l'antenne de Lecher est utilisé pour la reception et l'émission des champs énergétiques.
          En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.
          <br><br> Ce soin agit également dans le profond, au niveau du champ centripète, siège de la cause du symptôme.
          <br><br> <p class="card-text-question">Déroulement du soin :</p>
          <h4><ul class =" mb-2">Avant le soin, nous avons besoin :</ul>
              <li>d'une photo de la personne ou de l'animal </li>
              <li>de sa date de naissance, son prénom et nom (nom de jeune fille), la ville/pays où elle se trouve lors du soin</li>
            <ul class ="mt-4 mb-2">Pendant le soin :</ul>
              <li>profitez de ce moment pour vous détendre, lisez un livre, cuisinez, reposez-vous. </li>
              <li>ne pas travailler, ni faire de sport, ni être sur le smartphone ou devant un film. </li>
            <ul class ="mt-4 mb-2">Après le soin :</ul>
              <li> explication par téléphone des points travaillés pendant le soin et de ceux à travailler - durée : 10 minutes.
                <br>A noter : seul whatsapp est utilisé - appel à l'international.</li>

        </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "> Découvrez nos soins</button>
            <button class="button-soin mb-3 mr-5"> Demande de renseignements</button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container  ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre">
    <h3><i class="fas fa-feather-alt ml-5 mr-3"></i>Pour qui ?</h3>
    </div>
    <div class="soin-cards mb-5">
      <%= link_to soins_path, :action => 'go' do %>
      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h5 class="card-title">Adultes, enfants, animaux </h5>

            <h4 class="mt-3 card-text">Les adultes doivent être capables de discernement. Dans le cas contraire, ils devront être accompagnés de leur tuteur légal.
            <br><br> Les enfants doivent être accompagnés par un de ses parents.
            <br><br> Seuls les soins à distance sont réalisés sur les animaux.
            </h4>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "> Découvrez nos soins</button>
            <button class="button-soin mb-3 mr-5"> Demande de renseignements</button>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



<div class="container pb-5 mb-5">
  <div class="row justify-content-center">
    <div class="soin-cards mb-5">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement médical.
              <br><br> Dans le cadre du covid-19, dans la mesure où les soins à distance ont la même efficacité que les soins sur place, les soins à distance sont privilégiés.
              <br><br> Energies & Guerison propose aussi des soins avec les bols thérapeutiques et des séances d'accompagnement consultables dans la section soins.</h4>
          </div>


      </div>
    </div>
  </div>
</div>






