


  <!-- Titre page -->
<div class="container justify-content-center pt-5 mb-0 mt-5">
  <div class="container-title banner-flex text-center justify-content-center">
    <h1> Bioénergie </h1>
    <h2>La méthode Acmos</h2>

  </div>
</div>



  <!-- code 1ere ligne soins  -->
<div class="container mb-0">
  <div class="row justify-content-center">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>La méthode </h2>
    </div>

    <div class="soin-cards">

      <div class="col-12 col-lg-12">

        <div class="soin-card ">

          <div class="soin-card-body text-center">
            <h2 class="card-title">Méthode d'équilibre énergétique global</h2>
            <%= image_tag 'cabinet_radius.jpeg', height: '100px', alt: "Energétique et scientifique"%>
            <h3 class="card-text-question">Depuis 1985 par le Dr. René Naccachian</h3>
              <p><br>La Méthode Acmos a pour objet de permettre au corps de <strong>reprendre le contrôle</strong> de ses circuits énergétiques afin qu'il retrouve <strong>sa capacité d'autogestion</strong>.
              <br><br>Aujourd'hui, la médecine contemporaine s'attache à régler les désordres indiqués et confirmés par les analyses scientifiques (radiologie, IRM, chimie etc...).
              Ces indications, issues du corps, sont d'ordre essentiellement symptomatiques.

              <br><br>La Méthode Acmos <strong>ne s'arrête pas aux symptômes</strong> qui ne sont que de simples indicateurs de désordres provoqués
              par un problème plus profond.
              Elle s'attachera plutôt à <strong>détecter la cause afin de la corriger</strong>, en se basant sur des découvertes issues de la médecine quantique.

              <br><br>Des <strong>médecins</strong> et des spécialistes du monde entier ont collaboré à l'élaboration de cette méthode.
              <br><br>Basée entre autre sur la <strong>médecine traditionnelle chinoise</strong> et la <strong>médecine ayurvédique</strong>, elle met en œuvre des protocoles rigoureux d'investigation et s'appuie :
                <ul class="" style="text-align: left">
                  <li class="retour-ligne-list">sur des mesures scientifiques,</li>
                  <li class="retour-ligne-list">sur le principe de biorésonance,</li>
                  <li class="retour-ligne-list">la stimulation des points d'accupuncture.</li>
                </ul>
              </p>
              <p>
              En fonction des priorités de votre corps, nous réalisons des <strong>transferts énergétiques</strong> d'huiles essentielles, de minéraux, d'oligoéléments, de phyto (plantes), d'homéopathies.

              <br><br>A noter que la biorésonance Acmos est <strong>différente de la biorésonance </strong> reposant sur l'utilisation d'<strong>appareils électroniques</strong> qui agissent sur les paramètres
              physiologiques, le champs centrifuge, c'est à dire <strong>sur les symptômes et non la cause</strong>.

              <br><br>La <strong>SPECIFICITE de la méthode Acmos</strong> est qu'elle agit dans le <strong>PROFOND</strong> via l'antenne de Lecher et le bioénergéticien par la mesure et l'action sur le champ centripète - champ énergétique amenant aux symptômes.
              <br> <br>L'<strong>action se fait donc sur la cause des symptômes</strong> et permet de <strong>déprogrammer des mémoires négatives</strong>.
                <br><br>
                A noter que le corps procède toujours par priorités.
                <br>De ce fait, un symptôme peut être une dégradation de plusieurs déséquilibres antérieurs. Vous pouvez donc consulter pour un symptôme lourd mais avant de le voir disparaître vous allez voir plusieurs petits déséquilibres se rééquilibrer.

              <br><br> Par exemple, une personne consultait pour fatigue chronique.
              Lors du soin axé sur le centripète, nous avons agi sur la cause qui était dans ce cas une faiblesse au niveau du couple organes Reins-Vessie.
              Suite aux séances sur le couple Reins-Vessie, la personne n'avait plus de fuite énergétique. Elle avait retrouvé l'énergie pour le fonctionnement global de son corps.
              En ayant agit sur la cause de la fatigue, la personne a retrouvé son énergie vitale de manière durable.

              <br> <br>Effectivement, votre corps pour se rééquilibrer à besoin de se restructurer pour avoir une base solide. </p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins", soins_path %> </button>
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins à distance", soins_a_distance_path %></button>
            <button class="button-soin mb-3 mr-5"><%= link_to "Demande de renseignements", contact_path %></button>
          </div>

        </div>
      </div>


      <div class="col-12 col-lg-12">

        <div class="soin-card text-center">

            <div class="soin-card-body">
              <h2 class="card-title">Les outils </h2>
              <%= image_tag 'cabinet_radius.jpeg', height: '150px', alt: 'Materiel Biorésonance' %>
              <h3 class="card-text-question pt-5">Outils de mesures scientifiques et biorésonance </h3>
                <p> Le BIOFEEDBACK est utilisé pour <strong>mesurer de manière scientifique</strong> la <strong>vitalité de vos organes</strong> ainsi que votre vitalité interne. Il mesure le potentiel énergétique dans chacun des <strong>méridiens d’acupuncture</strong>.
                <p> L'ANTENNE DE LECHER inventée par le physicien autrichien Ernst Lecher (1856-1926) et le physicien allemand Reinhard Schneider (1925-2001), a par la suite été adapté par le fondateur de la méthode Acmos Dr. René Naccachian pour la <strong>mesure de longueurs d’ondes spécifiques</strong> au domaine de la <strong>santé</strong>.
                    <br><br>L’antenne de Lecher est un <strong>récepteur</strong> et un <strong>émetteur d’ondes électromagnétiques</strong> qui vibrent sur des fréquences et longueurs d’ondes spécifiques. Elle permet de détecter et de mesurer avec précision tout champ énergétique ou toute information vibratoire.
                    <br>Elle permet de communiquer avec le corps énergétique via une masse métallique reliée entre l’antenne et le corps du patient.
                </p>


              <h3 class="card-text-question pt-5">Outils de transferts énergétiques et de stimulation des points d'accupuncture </h3>
                <p>L'ANTENNE DE LECHER est l'outil principal de biorésonance utilisé dans la méthode.
                <p>La <strong>stimulation des points d'accupuncture</strong>  est <strong>non invasive</strong> grâce à la technologie du QUANTACMOS. De manière précise, l’onde électromagnétique de la lumière stimule ou disperse les points d'accupuncture <strong>sans douleur</strong>.</p>
                <p>Pour la gestion de la douleur, nous utilisons l'ACMODERMIL qui stimule avec de légères vibrations électriques les points opposés de la douleur afin que celle-ci ne soit plus ressentie.</p>
                <p>Une partie de la <strong>déprogrammation de mémoires négatives</strong>, appelées "agressions virtuelles" se fait grâce à l'ACMOGRAM.</p>

              <h3 class="card-text-question pt-5"> Produits de transferts énergétiques </h3>
                <p> La Valise de Test et d’Harmonisation, rassemble près de 350 harmonies, de hautes qualités vibratoires, réparties en huit gammes de produits:

                  <br><br>les <strong>huiles essentielles, minéraux, oligo-éléments, homéopathies générales, hormonales </strong>et <strong>psychiques, saisonniers, phytothérapie</strong> et autres produits spécifiques.

                  <br><br>Par transferts énergétiques, ces « harmonies » vont agir pour <strong>rétablir une cohérence </strong> d’informations aux niveaux <strong>cellulaires, énergétiques, mentales et émotionnels</strong>. En fonction des priorités de votre corps, nous réalisons des transferts énergétiques d'huiles essentielles, minéraux, oligoéléments, phytothérapie, homéopathies psychologiques, hormonales et/ou générales.
                  <br><br> Il s'agit d'une méthode non invasive, aucun produit n'est administré par voie orale durant le soin.
                </p>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>


  <!-- code quels symptomes -->
<div class="container mb-0 ">
  <div class="row justify-content-center mt-2">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Pour quels symptômes ?</h2>
    </div>
    <div class="soin-cards mb-2">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Redonner les capacités d'autogestion du corps </h2>
              <%= image_tag 'Chemin du symptome.jpeg', height: '180px', alt: "Chemin du symptôme"%>

            <p class="mt-3 card-text">

              <br><br>Le corps est constitué d'énergie. Chaque cellule, organe, les systèmes cardio-vasculaires, lymphatiques sont énergie. Leur bon fonctionnement est possible si un équilibre énergétique y circule.
              <br><br>Avec la méthode Acmos, le travail énergétique <strong>agit sur la cause du désordre ainsi qu'en prévention.</strong>
              <br><br>Pour comprendre le <strong>lien entre l'énergétique et le symptôme</strong>, l'une des informations primordiales à connaître est que :
                les déséquilibres au niveau <strong>vibratoire</strong> (ondes, ...), engendrent des déséquilibres au niveau <strong>énergétique</strong>, puis au niveau <strong>organique</strong> et peuvent induire des <strong>lésions</strong> (pathologies systémiques, cancer...).
                <br><br> Le rôle du bioénergéticien est de <strong>réquilibrer</strong> avec le patient les <strong>déséquilibres au niveau vibratoire et énergétique</strong> afin d'éviter les répercusions au niveau organique et lésionnel.

              <br><br>A noter que le corps procède par priorités. Si un symptôme est la conséquence d'autres désordres,
              le corps va aller rééquilibrer en premier lieu la cause du désordre, via un soin axé sur le centripète. Puis dans un second temps, le corps sera à même de rétablir le symptôme en lui même via un autre soin.

            <br> <br>D'après les données cliniques, les <strong>personnes consultent généralement</strong> pour :
              <ul>
                <li class = "no-bullet mt-3 text-center">Asthénie, fatigue </li>
                <li class = "no-bullet text-center">Stress</li>
                <li class = "no-bullet text-center">Crises d'angoisses, peurs</li>
                <li class = "no-bullet text-center">Burnout - Brownout </li>
                <li class = "no-bullet text-center" >Baisse de moral </li>
                <li class = "no-bullet text-center" >Insomnies </li>
                <li class = "no-bullet text-center" >Addictions </li>
                <li class = "no-bullet text-center">Migraines </li>
                <li class = "no-bullet text-center">Hypo et hyperthyroïdies</li>
                <li class = "no-bullet text-center">Troubles bipolaires</li>
                <li class = "no-bullet text-center">Hypertension artérielle</li>
                <li class = "no-bullet text-center">Tumeur</li>

              </ul></p>
             <p>Cette liste de pathologies est non exhaustive.</p>

          </div>


          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins", soins_path %> </button>
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins à distance", soins_a_distance_path %></button>
            <button class="button-soin mb-3 mr-5"><%= link_to "Demande de renseignements", contact_path %></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mb-0 ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Déroulement du soin </h2>
    </div>
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">3 étapes clefs </h2>
            <a href="https://www.youtube.com/watch?v=crKmEl-wyTA" title="Film Acmos">Soin</a>

            <h3 class="card-text-question mb-2 pb-0">Protocole rigoureux, résultat de plus de 30 ans de recherches et de recul clinique.<h3>
              <p>  <ol style="text-align: justify">
                <li>Dans un premier temps, des <strong>mesures</strong> sont effectuées à l’aide d’<strong>appareils</strong>, dont obligatoirement l’antenne de Lecher,
                  afin de <strong>détecter les dysharmonies à corriger</strong>.
                <br><br>Il peut s’agir de <strong>trop-pleins</strong> ou de <strong>vides d’énergie</strong> dans certains méridiens, de <strong>centres énergétiques bloqués</strong>, de <strong>dissymétries</strong> énergétiques</li>
                <br>
                <li >Dans un deuxième temps, le bioénergéticien procédera au <strong>rétablissement de l’équilibre</strong>.
                  <br><br>La détermination des étapes à réaliser se fait dans un <strong>ordre déterminé par le protocole</strong> Acmos,
                  en utilisant l’antenne Lecher afin de <strong>valider</strong>, par résonance, leur <strong>adéquation</strong> avec le problème à traiter chez l’individu concerné, de ce fait, la séance est véritablement <strong>individualisée</strong>.
                  <br><br>Dans la plupart des cas, il s’agira d'un équilibre strictement énergétique par <strong>transfert vibratoire</strong> d’un ou plusieurs des produits de la valise ACMOS (huiles essentielles, minéraux, oligo-éléments, homéopathies, phytothérapie).
                <br> Il peut également s’agir de <strong>stimulation</strong> énergétique. </li>

                <br>
                <li>Enfin, le bioénergéticien Acmos <strong>vérifie le rétablissement</strong> de l’équilibre énergétique du sujet :
                  <ul>
                    <li>la remise à niveau des mesures des circuits énergétiques</li>
                    <li>le recentrage des champs énergétiques avec l'Antenne Lecher Acmos.</li>
                  </ul>
                </li>
              </ol></p>

              </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container mb-0 ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Analyse des compatibilités </h2>
    </div>
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Vérification de la compatibilité des médicaments et compléments alimentaires <br>avec votre corps</h2>
            <%= image_tag 'gelules.jpeg', height: '130px', style:"border-radius:60%" %>

            <h3 class="card-text-question mb-5 pb-0">Impact d’un produit sur le corps énergétique et par voie de conséquences, sur le corps physique<h3>
                  <p>Notamment pour les personnes sous prescription médicale, il est possible d'<strong>analyser l’impact du médicament</strong> sur l’équilibre énergétique, mais aussi sur les fonctions et organes du corps.
                  <br><br>Parfois, un <strong>compensateur ou un renforceur</strong> est demandé pour aider le corps à faire face aux <strong>effets indésirables</strong>.
                  Il existe aussi un procédé particulier permettant de potentialiser l’efficacité d’un médicament.</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>



<div class="container mb-0 ">
  <div class="row justify-content-center mt-5">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Après le soin, comment pérenniser dans le temps ?</h2>
    </div>
    <div class="soin-cards ">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Félicitation! Après le soin, 60% du travail de la séance est réalisé </h2>

            <h3 class="card-text-question mb-0 pb-0">Maintenant, finaliser le traitement !<h3>
               <%= image_tag 'magnesium.png', height: '175px', style:"border-radius:8px" %>
            <%= image_tag 'chromo.jpg', height: '150px', style:"border-radius:8px" %>
                 <p><br><br>Pour finaliser le traitement, les 40 % restants, il vous faut prendre ce que votre corps a demandé durant le soin.
                 <br><br>Pour ce faire, une <strong>fiche de suivi</strong> vous est délivrée afin de savoir quel(s) produit(s) votre corps a demandé lors du soin pour <strong>rétablir et maintenir</strong> un équilibre énergétique optimal.</p>

              <p class="card-text-question pt-2 pb-0 mb-2">Où trouver les produits :
                  <p class="acmos-link" >Les oligoéléments et homéopathies peuvent être à acheter dans <strong>la pharmacie</strong> de votre village, quartier.
                    <br>D'autres produits se commandent auprès d'<strong>Acmos-sbj</strong> : <a href="https://www.acmos-sbj.com/phytotherapie-_l_FR_r_53.html" target="_blank"> phytothérapie</a>, <a href="https://www.acmos-sbj.com/filtres-de-couleur-_l_FR_r_49.html" target="_blank"> chromothérapie</a>, <a href="https://www.acmos-sbj.com/mineraux-_l_FR_r_52_va_1.html" target="_blank"> minéraux</a>, <a href="https://www.acmos-sbj.com/complexes-saisonniers-_l_FR_r_69.html" target="_blank">complexes saisonniers</a> ainsi que  <a href="https://www.acmos-sbj.com/huiles-essentielles-_l_FR_r_48.html" target="_blank">huiles essentielles</a>. </p>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container mb-0 ">
  <div class="row justify-content-center">
    <div class="sous-titre mb-3 pt-2 mt-5">
    <h2><i class="fas fa-feather-alt ml-2 mr-3"></i>Pour qui ?</h2>
    </div>
    <div class="soin-cards">

      <div class="col-12 col-lg-12 ">
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Adultes, enfants, animaux </h2>

            <p class="mt-3 card-text">
              Chaque être vivant est constitué d'énergie, il est donc <strong>important qu'un équilibre énergétique soit atteint</strong> dans TOUT corps humain ou animal.
              Enfants, adultes et animaux peuvent donc recevoir des soins énergétiques.
              <br><br>
              Les adultes doivent être capables de discernement. Dans le cas contraire, ils devront être accompagnés de leur tuteur légal.
            <br><br> Les enfants doivent être accompagnés par un de leurs parents.
            <br><br> Sur les animaux nous dispensons aussi les soins à distance.
            </p>
          </div>
          <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins", soins_path %> </button>
            <button class="button-soin mb-3 mr-5 "><%= link_to "Découvrez nos soins à distance", soins_a_distance_path %></button>
            <button class="button-soin mb-3 mr-5"><%= link_to "Demande de renseignements", contact_path %></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text">Pour rappel, les soins et bilans ne remplacent ni un suivi, ni un traitement médical.
              <br><br> Dans le cadre du covid-19, dans la mesure où les soins à distance ont la même efficacité que les soins sur place, les soins à distance sont privilégiés.
              <br><br> Energies & Guerison propose aussi des soins avec les bols thérapeutiques et des séances d'accompagnement. Plus d'informations sur ces soins sur la page "soins".</h4>
          </div>


      </div>
    </div>
  </div>
</div>






