<div class="container justify-content-center pt-5 mt-5 mb-4">
  <div class="container-title banner-flex text-center justify-content-center pt-3 pb-2">
    <h1>Coaching </h1>
    <h2>Rayonnez, Vibrez, Vivez </h2>
  </div>
</div>

<div class="container">
  <div class="soin-cards">

    <div class="col-12 col-lg-12">
      <div class="soin-card text-center">

        <div class="soin-card-body">
          <h2 class="card-title">Coaching de visualisation <br>& concrétisation</h2>
          <%= image_tag 'joie.jpeg', height: '130px', style:"border-radius:6px" %>
          <h3 class="card-text-question">Le changement s'initie par la visualisation, le ressenti... </h3>
          <p class="card-text">

            Avant la séance : <strong>pensez et ressentez</strong> brièvement à quelque chose que vous aimeriez voir se réaliser dans votre vie.
            <br><br>Lors de la séance, <strong>visualisation et concrétisation</strong> d'un objectif de votre vie par mise en pratique d'un "film mental" via

            <strong>l'expression, le mouvement</strong> et les <strong>émotions</strong> liées à la <strong>joie, la paix intérieure</strong> et la <strong>complétude</strong>.


            <br><br><sup>*</sup>L'accompagnement est proposé aux personnes majeures et en capacité de discernement. </p>
          </p>
        </div>
        <div class = "container justify-content-center mt-4">
          <button disabled class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF / 30 min </button>
          <button disabled class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> de 30 min à 1h30 </button>
          <button disabled class="button-soin mb-3 mr-5"><i class="fas fa-video"></i> ou <i class="fas fa-phone"></i></button>
        </div>

        <div class = "container justify-content-center mb-2 mt-2">
          <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to "Demande de renseignements", contact_path %> </button>
          <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-12">
      <div class="soin-card text-center">

        <div class="soin-card-body">
          <h2 class="card-title">Accompagnement</h2>
          <%= image_tag 'adulte-post-it.jpeg', height: '150px', style:"border-radius:6px" %>
          <h3 class="card-text-question">Vous êtes dans une situation de vie, un schéma à répétition, <br>vous rencontrez des blocages redondants? </h3>
          <p class="card-text">L'accompagnement vous aide  dans la gestion d'une situation de vie, de schémas à répétitions,
            en tenant compte de l'équilibre entre vie professionnelle et personnelle.
            <br><br>L'accompagnement est une <strong>approche holistique</strong> de
            la personne. Lors de la séance, nous mettons en évidence la <strong>problématique</strong> et utilisons un <strong>ensemble d'outils</strong> permettant de déterminer <strong>une solution</strong> en accord
            avec vos VALEURS et aspirations profondes.
            <br><br>Le client reste un sujet libre et responsable.
            <br><br>Nous vous aidons à définir vos propres objectifs et vous incitons à les réaliser. </p>

          </p>
        </div>

        <div class = "container justify-content-center mt-4">
          <button disabled class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF / 30 min </button>
          <button disabled class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> de 30 min à 1h30 </button>
          <button disabled class="button-soin mb-3 mr-5"><i class="fas fa-video"></i> ou <i class="fas fa-phone"></i></button>
        </div>

        <div class = "container justify-content-center mb-2 mt-2">
          <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to "Demande de renseignements", contact_path %> </button>
          <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
        </div>

      </div>
    </div>



  </div>
</div>
