<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title justify-content-center">
    <h1 class="text-center"> Activités art-thérapeutiques</h1>
  </div>
</div>

<br>
<div class="container mb-0">
  <div class="row justify-content-center">
    <div class="soin-cards">

       <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
            <div class="soin-card-body">
              <h2 class="card-title">La Joie en Moi</h2>
              <%= image_tag 'joie.jpeg', height: '100px' %>
              <h3 class="card-text-question">Un moment d'évasion et de reconnexion avec la joie, la légèreté et la création</h3>
              <p>Offrir l'opportunité à votre corps et votre esprit d'oeuvrer avec légéreté.
              <br>Quête de vision par la reconnexion avec la joie et le mouvement.</p>
              <p>Mouvements doux, adaptés à tous, vêtements confortables de préférences</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 60 CHF</button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Marche nocturne pleine conscience <br>en raquettes à neige</h2>
            <%= image_tag 'snow_winter.jpeg', height: '100px' %>
            <h3 class="card-text-question">Réancrez-vous pour reprendre le chemin de votre vie</h3>
            <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
            Rencontrer et partager avec des personnes éveillées aux énergies</p>
            <p>Prendre votre matériel, raquettes, tenue chaude, lampe frontale.</p>
            <p>Marche sur sentier balisé. Pas de risque particulier. L'équipe organisatrice décline toute responsabilité.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
            <div class="soin-card-body">
              <h2 class="card-title">Concert sonothérapeutique en plein air</h2>
              <%= image_tag 'gong plein air.jpeg', height: '100px', width:'60px' %>
              <h3 class="card-text-question">Un moment d'évasion et de reconnexion avec ces sens</h3>
              <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
              Quête de vision par la reconnection avec la nature</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title"> Synchronisation des ondes cérébrales <br> <br>Bain sonore thérapeutique</h2>
            <%= image_tag 'bols floute.jpeg', height: '100px' %>
            <h3 class="card-text-question">Vous souhaitez combiner un moment agréable de détente et un travail énergétique ?</h3>
            <p class="card-text">
              Notre corps est constitué au minimum de 60% d'eau. L'eau est un très grand conducteur d'ondes.
              <br>Rappelez-vous, enfant quand vous jetiez un caillou dans l'eau, plein de petits cercles, longueurs d'ondes se dispersés tout autour.
              <br><br> De la même manière, les ondes des bols tibétains vont traverser votre corps. Ces ondes atteignent les cellules et permettent de réharmoniser votre état vibratoire de manière rapide.
              <br>Les bols sont situés tout autour de vous, vous êtes plongés dans un bain sonore en 5 dimensions.
              <br>Tout votre corps est récepteur de ces ondes et particulièrement votre cerveau.
              <br><br>Les ondes cérébrales sont réparties en 5 classes :</p>

                <p>
                <ul>Ondes delta : de 0,5 à 4 Hz lors du sommeil profond, sans rêves.</ul>
                <ul>Ondes thêta : de 4 à 7 Hz, lors de la relaxation profonde, en plein éveil, lors de la méditation.</ul>
                <ul>Ondes alpha : de 8 à 13 Hz, lors de la relaxation légère. </ul>
                <ul>Ondes bêta : 14 Hz et plus, lors des activités courantes et pendant le sommeil paradoxal (courtes périodes de sommeil avec rêve), lorsque le cerveau assimile les activités du rêve à des activités « courantes ».</ul>
                <ul>Ondes gamma : 30 ou 35 Hz lors d'une grande activité cérébrale</ul></p>

              <p><br>L'intensité de l'activité cérébrale se manifeste par la fréquence de ces ondes. <br>
              Elle se mesure en hertz (Hz) - un hertz = une ondulation par seconde.
              <br>La fréquence des ondes cérébrales varie selon le type d'activité que l'on est entrain de faire.
              <br><br>Trop de stress, par exemple, et le système nerveux n'accepte pas de se détendre : <br>
              les ondes cérébrales continuent alors de se maintenir dans la fourchette bêta et il est impossible de trouver le sommeil...

              <br>Plusieurs phénomènes extérieurs peuvent influencer le rythme des ondes cérébrales. La science a découvert que c'est généralement un effet de résonance qui est en cause.

              <br><br>Les pulsations sonores émises  par les bols, gongs utilisés durant le soin, invitent le cerveau à ralentir le rythme de ses ondes, qui pourraient graduellement passer de 14 à 4 Hz.
              <br><br>Les ondes sont d'une plus grande amplitude ce qui améliore la cohérence de l'influx nerveux des neurones.
              <br>Cela va amener la synchronisation de vos ondes cérébrales<br>
              </p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 60 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 30 min</button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Concert sonothérapeutique en refuge</h2>
            <%= image_tag 'refuge.jpeg', height: '100px' %>
            <h3 class="card-text-question">Réancrez-vous pour reprendre le chemin de votre vie</h3>
            <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
            Rencontrer et partager avec des personnes éveillées aux énergies</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF avec collation </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Mars 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Réénergisation et recentrage <br>de mon corps, mon âme et mon esprit</h2>
            <%= image_tag 'cercle-nature.jpeg', height: '100px', style:"border-radius:6px" %>
            <h3 class="card-text-question">Vous êtes un peu déboussolé en cette période <br>et vous ne savez pas comment faire pour retrouver un équilibre ? </h3>
            <p>Vous offrir la capacité de reprogrammer votre Grand Vous.
              <br><br>Transformer cet état inconfortable en une énergie rayonnante pour retrouver une paix intérieure.</p>
          </div>
          <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 4 mois : 4 modules </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF par module</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h / module </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Avril 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-user-friends"></i> ou <i class="fas fa-video"></i> 5 personnes max</button>
          </div>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text pt-0">
              <br><br> Dans le cadre du covid-19, les sorties auront lieu en fonction des règles OFSP. Nous contacter pour plus de précisions sur l'organisation.</h4>
          </div>


      </div>
    </div>
  </div>
</div>

