<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title justify-content-center">
    <h1><i class="fas fa-feather-alt mr-4"></i> Activités <i class="fas fa-feather-alt ml-4"></i></h1>
  </div>
</div>

<br>
<div class="container mb-0">
  <div class="row justify-content-center">
    <div class="soin-cards">

       <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
            <div class="soin-card-body">
              <h2 class="card-title">La Joie en Moi</h2>
              <%= image_tag 'joie.jpeg', height: '100px' %>
              <h3 class="card-text-question">Un moment d'évasion et de reconnexion avec la joie, la légèreté et la création</h3>
              <p>Offrir l'opportunité à votre corps et votre esprit d'oeuvrer avec légéreté.
              <br>Quête de vision par la reconnexion avec la joie et le mouvement.</p>
              <p>Mouvements doux, adaptés à tous, vêtements confortables de préférences</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 60 CHF</button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">

          <div class="soin-card-body">
            <h2 class="card-title">Marche nocturne pleine conscience <br>en raquettes à neige</h2>
            <%= image_tag 'snow_winter.jpeg', height: '100px' %>
            <h3 class="card-text-question">Réancrez-vous pour reprendre le chemin de votre vie</h3>
            <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
            Rencontrer et partager avec des personnes éveillées aux énergies</p>
            <p>Prendre votre matériel, raquettes, tenue chaude, lampe frontale.</p>
            <p>Marche sur sentier balisé. Pas de risque particulier. L'équipe organisatrice décline toute responsabilité.</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>


      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
            <div class="soin-card-body">
              <h2 class="card-title">Concert sonothérapeutique en plein air</h2>
              <%= image_tag 'gong plein air.jpeg', height: '100px', width:'60px' %>
              <h3 class="card-text-question">Un moment d'évasion et de reconnexion avec ces sens</h3>
              <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
              Quête de vision par la reconnection avec la nature</p>
            </div>
            <div class = "container justify-content-center mt-4">
              <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 50 CHF</button>
              <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
              <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Concert sonothérapeutique en refuge</h2>
            <%= image_tag 'refuge.jpeg', height: '100px' %>
            <h3 class="card-text-question">Réancrez-vous pour reprendre le chemin de votre vie</h3>
            <p>Offrir l'opportunité à votre corps de se reconnecter à son plein potentiel.
            Rencontrer et partager avec des personnes éveillées aux énergies</p>
          </div>
          <div class = "container justify-content-center mt-4">
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 80 CHF avec collation </button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h</button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Mars 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i></button>
          </div>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12 ">

          <div class="soin-card-body">
            <h4 class=" card-text pt-0">
              <br><br> Dans le cadre du covid-19, les sorties auront lieu en fonction des règles OFSP. Nous contacter pour plus de précisions sur l'organisation.</h4>
          </div>


      </div>
    </div>
  </div>
</div>

