<div class="container justify-content-center mb-5 mt-5">
    <h1>Ateliers</h1>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <div class="soin card-body">
            <h5 class="card-title">Gestion de l'hypersensibilité chez l'enfant</h5>
            <p class="card-text"><p>Vous avez un enfant hyperactif et/ou hypersensible et vous ne savez pas comment l'aider pour qu'il se sente mieux ? </p>
            <p>Offrir à votre enfant la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour votre enfant et pour toute la famille.</p>
            <p>Programme sur 1,5 mois : 3 ateliers de 5 enfants maximum </p>
            <p>Tarif : 75CHF </p>
            <p>Durée de la séance : 1h30</p>
            <p>Prochain départ en ligne : </p>
          </div>
          <div class = "container justify-content-center">
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "Je réserve", contact_path %></button>
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "En savoir plus", contact_path %></button>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h5 class="card-title">Gestion de l'hypersensibilité chez l'adulte</h5>
            <p class="card-text">Vous êtes hyperactif et/ou hypersensible et vous ne savez pas comment faire pour vous sentir mieux ? </p>
            <p>Vous offrir la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour vous même et votre entourage.</p>
            <p>Programme sur 2 mois : 3 ateliers de 5 adultes maximum </p>
            <p>Tarif par atelier : 130CHF </p>
            <p>Durée de la séance : 2h </p>
            <p>Prochain départ en ligne : le dimanche 20 décembre 2020 à 10h </p>
          </div>
          <div class = "container justify-content-center">
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "Je réserve", contact_path %></button>
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "En savoir plus", contact_path %></button>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h5 class="card-title">Réénergisation et recentrage de mon corps, mon âme et mon esprit</h5>
            <p class="card-text">Vous êtes un peu déboussolé en cette période et vous ne savez pas comment faire pour retrouver un équilibre ? </p>
            <p>Vous offrir la capacité de reprogrammer votre Grand Vous. Transformer cet état inconfortable en une énergie rayonnante pour retrouver une paix intérieure.</p>
            <p>Programme sur 2 mois : 3 ateliers de 5 adultes maximum </p>
            <p>Tarif par atelier : 130CHF </p>
            <p>Durée de la séance : 2h </p>
            <p>Prochain départ en ligne : le dimanche 20 décembre 2020 à 10h </p>
          </div>
          <div class = "container justify-content-center">
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "Je réserve", contact_path %></button>
              <button class="button-soin mb-3 mr-5" type="submit"><%= link_to "En savoir plus", contact_path %></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



