<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title justify-content-center">
    <h1><i class="fas fa-feather-alt mr-4"></i> Ateliers <i class="fas fa-feather-alt ml-4"></i></h1>
  </div>
</div>


<div class="container mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Gestion de l'hypersensibilité chez l'enfant</h2>
             <%= image_tag 'enfant_hypersensibilite.jpeg', height: '100px' %>
            <h3 class="card-text-question">Vous avez un enfant hyperactif et/ou hypersensible <br>et vous ne savez pas comment l'aider pour qu'il se sente mieux ? </h3>
            <p>Offrir à votre enfant la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour votre enfant et pour toute la famille.</p>
          </div>
         <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 3 mois : 3 ateliers </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 75 CHF par atelier</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 1h30 - 2h / atelier </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Février 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 enfants maximum</button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Gestion de l'hypersensibilité chez l'adolescent & le jeune adulte</h2>
            <%= image_tag 'enfant_hypersensibilite_2.jpeg', height: '100px' %>
            <h3 class="card-text-question">Vous êtes hyperactif et/ou hypersensible <br> et vous ne savez pas comment faire pour vous sentir mieux ? </h3>
            <p>Vous offrir la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour vous même et votre entourage.</p>
          </div>
          <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 3 mois : 3 ateliers </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 120 CHF par atelier</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h / atelier </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Janvier 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 personnes max </button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Gestion de l'hypersensibilité chez l'adulte</h2>
             <%= image_tag 'mains-arbre.jpeg', height: '100px', width: '75px', style:"border-radius:4px" %>
            <h3 class="card-text-question">Vous êtes hyperactif et/ou hypersensible <br> et vous ne savez pas comment faire pour vous sentir mieux ? </h3>
            <p>Vous offrir la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour vous même et votre entourage.</p>
          </div>
          <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 3 mois : 3 ateliers </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF par atelier</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h / atelier </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Janvier 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 personnes max </button>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-12 col-lg-12">
        <%= link_to contact_path, :action => 'go' do %>
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Réénergisation et recentrage <br>de mon corps, mon âme et mon esprit</h2>
            <%= image_tag 'cercle-nature.jpeg', height: '100px', style:"border-radius:6px" %>
            <h3 class="card-text-question">Vous êtes un peu déboussolé en cette période <br>et vous ne savez pas comment faire pour retrouver un équilibre ? </h3>
            <p>Vous offrir la capacité de reprogrammer votre Grand Vous. Transformer cet état inconfortable en une énergie rayonnante pour retrouver une paix intérieure.</p>
          </div>
          <div class = "container justify-content-center mt-5">
            <button class="button-soin mb-3 mr-5"><i class="far fa-calendar-alt"></i> 3 mois : 3 ateliers </button>
            <button class="button-soin mb-3 mr-5 "><i class="fas fa-coins mr-2"></i> 150 CHF par atelier</button>
            <button class="button-soin mb-3 mr-5"><i class="far fa-clock mr-2"></i> 2h / atelier </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-hand-point-right"></i> Prochain départ : Mars 2021 </button>
            <button class="button-soin mb-3 mr-5"><i class="fas fa-user-friends"></i> ou <i class="fas fa-video"></i> 5 personnes max </button>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>



