<div class="container justify-content-center pt-5 mt-5">
  <div class="container-title justify-content-center">
    <h1 class="text-center" >Gestion de l'hypersensibilité</h1>
  </div>
</div>
<br>

<div class="container mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="soin-cards">

      <div class="col-12 col-lg-12">
        <div class="soin-card">
          <div class="soin-card-body">
            <h2 class="card-title text-center">Suis-je hypersensible? </h2>

            <p class="card-text-question pt-0">Je suis hypersensible si, je :
              <ul class =" ml-2 mt-2 mb-2">
                <li class="ml-4">suis <strong>sensible aux conflits</strong> : famille, professionnel, violence dans les films...</li>
                <li class="ml-4">suis <strong>épuisé</strong>(e) quand je côtoie beaucoup de monde, je suis dans la foule, des centres commerciaux</li>
                <li class="ml-4">me sens comme une <strong>éponge</strong></li>
                <li class="ml-4">ai besoin de <strong>moments ressources seul</strong>(e) ou dans la nature</li>
            </p>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card">
          <div class="soin-card-body">
            <h2 class="card-title text-center">Solution transformatrice <br><br>être hypersensible : une force !  </h2>

              <p>Pourquoi ne nous l'a-t-on pas dit plus tôt ? <br> C'est ce que je me suis dit quand j'ai compris !
              </p>

            <h3 class="card-text-question"> En Pratique</h3>
              <p> <strong>Méthode innovante</strong> basée sur la combinaison de la  :
              <br> - compréhension  de l'hypersensibilité d'un point de vue <strong>scientifique</strong>
              <br> - mise en pratique avec des exercices
              <br> - déprogrammation des mémoires négatives
              <br><br>Nous vous proposons 4 modules pour accueillir, aprivoiser et aimer cette force.
              <br><br>Support de cours
              <br>Exercices à faire entre les différents modules

              <br><br> En présentielle ou sur Zoom en fonction de la situation sanitaire
              <br>Flexibilité : possibilité de faire les modules de manière non groupés
            </p>

          </div>
        </div>
      </div>

       <div class="col-12 col-lg-12">
        <div class="soin-card">
          <div class="soin-card-body">
            <h2 class="card-title text-center">Pour qui ? </h2>
            <h3 class="card-text-question">Enfants, adolescents-jeunes adultes, adultes  </h3>

            </ul>
          </div>
        </div>
      </div>


      <div class="col-12 col-lg-12">

        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Enfant</h2>
             <%= image_tag 'enfant_hypersensibilite.jpeg', height: '100px' %>
            <h3 class="card-text-question mt-3">Comment aider mon enfant hypersensible ou hyperactif pour qu'il se sente mieux ? </h3>
            <p class =" card-text mt-3">
            Comprendre en étant enfant comment fonctionne le <strong>SUPER CAPTEUR </strong>qu'est l'hypersensible, c'est la plus belle chose que l'on peut nous offrir.
            <br><br>Découvrir cette force, le plus tôt possible devrait être enseigner à l'école.
            Cela <strong>évite la naissance de traumatismes</strong>, de schémas de faiblesses qui laissent des <strong>cicatrices dans l'organisme et le psychisme</strong>.
            <br><br>
            Ces modules donneront à votre enfant la capacité de <strong>transformer</strong> cet état d'hypersensibilité parfois vécu difficilement au quotidien en <strong>une FORCE</strong> pour lui et pour toute la famille.</p>
          </div>


            <h3 class="card-text-question  pb-0">Programme <h3>
              <button disabled class="button-soin mb-3 "><i class="far fa-calendar-alt"></i> 4 mois : 4 modules </button>
              <button disabled class="button-soin mb-3 "><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 enfants maximum ou individuel</button>
              <button disabled class="button-soin mb-3 "><i class="fas fa-hand-point-right"></i> Prochain départ : Avril 2021 </button>

          <h3 class="card-text-question  pb-0">Durée <h3>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> En groupe : 2h / module</button>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> Individuel : 1h / module</button>

          <div class = "container justify-content-center mt-0 pt-0">
            <h3 class="card-text-question">Tarif <br><br>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> En groupe : 90 CHF par module</button>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> Individuel : 120 CHF par module</button>
              <h3>
          </div>

          <div class = "container justify-content-center mb-2 mt-2">
            <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to "Demande de renseignements", contact_path %> </button>
            <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
          </div>
        </div>

      </div>

      <div class="col-12 col-lg-12">

        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Adolescent & jeune adulte</h2>
            <%= image_tag 'enfant_hypersensibilite_2.jpeg', height: '100px' %>
            <h3 class="card-text-question"> Comment se sentir mieux ? </h3>
            <p>Pas évident d'être à la métamorphose entre l'enfance et l'âge adulte et d'être un SUPER CAPTEUR...
              <br><br>Ne laissons <strong>pas s'engramer de mal être inutil, de doutes, de croyances</strong> qui ne nous appartiennent pas.
             <br> <br>Pouvoir être un adolescent même beaucoup mieux dans ma peau que les autres adolescents grâce à cette <strong>FORCE.</strong>
            <br><br>Se donner la capacité de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une force pour vous même et votre entourage.</p>
          </div>

          <h3 class="card-text-question  pb-0">Programme <h3>
            <button disabled class="button-soin mb-3 "><i class="far fa-calendar-alt"></i> 4 mois : 4 modules </button>
            <button disabled class="button-soin mb-3 "><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 personnes maximum ou individuel</button>
            <button disabled class="button-soin mb-3 "><i class="fas fa-hand-point-right"></i> Prochain départ : Avril 2021 </button>

          <h3 class="card-text-question  pb-0">Durée <h3>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> En groupe :  2h / module</button>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> Individuel :  1h15 / module</button>

          <div class = "container justify-content-center mt-0 pt-0">
            <h3 class="card-text-question">Tarif <br><br>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> En groupe : 90 CHF par module</button>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> Individuel : 120 CHF par module</button>
              <h3>
          </div>

          <div class = "container justify-content-center mb-2 mt-2">
            <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to "Demande de renseignements", contact_path %> </button>
            <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
          </div>
        </div>

      </div>

      <div class="col-12 col-lg-12">
        <div class="soin-card text-center">
          <div class="soin-card-body">
            <h2 class="card-title">Adulte</h2>
             <%= image_tag 'mains-arbre.jpeg', height: '100px', width: '75px', style:"border-radius:4px" %>
            <h3 class="card-text-question">Comment faire pour ne plus se sentir comme une éponge et avoir plus d'énergie ? </h3>
            <p>
              Subir l'hypersensibilité ne doit plus être permis à notre époque !
              <br><br>Soyez de nouveau le conducteur de VOTRE VIE !
              <br><br>Depuis votre enfance, vous êtes un SUPER CAPTEUR mais personne ne vous a donné le <strong>MODE D'EMPLOI...</strong>
              <br><br>Comme on dit "mieux vaut tard que jamais".
              <br><br>La méthode va vous permettre de déprogrammer les schémas limitants qui se sont mis en place depuis votre enfance par manque de connaissance de <strong>VOTRE POUVOIR.</strong>

            <br><br> Vous allez être capable de transformer cet état d'hypersensibilité parfois vécu difficilement au quotidien en une <strong>FORCE </strong>pour vous même et votre entourage.</p>

          </div>

          <h3 class="card-text-question  pb-0">Programme <h3>
            <button disabled class="button-soin mb-3 "><i class="far fa-calendar-alt"></i> 4 mois : 4 modules </button>
            <button disabled class="button-soin mb-3 "><i class="fas fa-users"></i> ou <i class="fas fa-video"></i> 5 personnes maximum ou individuel</button>
            <button disabled class="button-soin mb-3 "><i class="fas fa-hand-point-right"></i> Prochain départ : Avril 2021 </button>

          <h3 class="card-text-question  pb-0">Durée <h3>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> En groupe :  2h30/module</button>
            <button disabled class="button-soin  "><i class="far fa-clock mr-2 ml-2"></i> Individuel :  1h15 / module</button>

          <div class = "container justify-content-center mt-0 pt-0">
            <h3 class="card-text-question">Tarif <br><br>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> En groupe : 120 CHF par module</button>
              <button disabled class="button-soin mb-3"><i class="fas fa-coins mr-2"></i> Individuel : 150 CHF par module</button>
              <h3>
          </div>

          <div class = "container justify-content-center mb-2 mt-2">
            <button class="button-en-savoir-plus mb-3 mr-5 "><%= link_to "Demande de renseignements", contact_path %> </button>
            <button class="button-en-savoir-plus mb-3 mr-5"><%= link_to " Prendre rendez-vous", contact_path %> </button>
          </div>
      </div>

    </div>
  </div>
</div>





