

 <!-- code a Hero / Banner section -->
<div class="banner" style="background-image: url('<%= image_path 'cabinet.jpeg' %>');">

  <div class="container">
    <h1> Institut Combi'Thérapies</h1>
    <p> This is a new experience that will change your life </p>
  </div>
</div>

  <!-- code a "How it works" section -->


  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="cards ">

        <div class="col-12 col-lg-4">
          <div class="card text-center">

              <img style="background-image: url('<%= image_path 'antenne_Lecher.jpeg' %>');"class="card-img-top" >
                <div class="card-body">
                <h5 class="card-title"><%= link_to "Soins", soins_path %></h5>
                <p class="card-text">Combi-Thérapies vous propose une thérapie multifacorielle combinant des soins sur place et à distance</p>
                </div>

          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card text-center">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Ateliers", ateliers_path %></h5>
                <p class="card-text">Combi_thérapies propose des ateliers pour enfants, adultes, cadres en entreprises.</p>
              </div>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card text-center">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= link_to "Actualités", actus_path %></h5>
                <p class="card-text">Combi-thérapies met à disposition des videos, articles pour vous accompagner au quotidien. Dans les actualités, vous pouvez aussi retrouver les événements</p>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>



