

 <!-- code a Hero / Banner section -->
<div class="banner" style="background-image: url('<%= image_path 'cabinet.jpeg' %>');">

  <div class="container banner-flex">
    <h1> Institut Combi'Thérapies</h1>
    <p> Vivre plutôt que survivre </p>
  </div>
</div>

  <!-- code a "How it works" section -->


  <div class="container mt-5 mb-5">
    <div class="sous-titre-light mt-1 mb-5">
    <h2><i class="fas fa-feather-alt mr-2"></i> Restaurer la source du déséquilibre plutôt que camoufler un symptôme</h2>
    </div>
    <div class="row">
      <div class="cards">


        <div class="card text-center">
          <%= link_to soins_path, :action => 'go' do %>
            <img style="background-image: url('<%= image_path 'antenne_Lecher.jpeg' %>');"class="card-img-top" >
              <div class="card-body">
              <h5 class="card-title">Soins</h5>
              <p class="card-text">Combi-Thérapies vous propose une thérapie multifacorielle combinant des soins sur place et à distance</p>
              </div>
          <% end %>
        </div>



          <div class="card text-center">
            <%= link_to ateliers_path, :action => 'go' do %>
              <img style="background-image: url('<%= image_path 'cabinet.jpeg' %>');"class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">Ateliers</h5>
                <p class="card-text">Combi_thérapies propose des ateliers pour enfants, adultes, cadres en entreprises.</p>
              </div>
            <% end %>
          </div>



          <div class="card text-center">
            <%= link_to ateliers_path, :action => 'go' do %>
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Activités</h5>
                <p class="card-text">Combi-thérapies met à disposition des videos, articles pour vous accompagner au quotidien. Dans les actualités, vous pouvez aussi retrouver les événements</p>
              </div>
             <% end %>
          </div>


      </div>
    </div>


  <!-- code Témoignages section -->

  <div class="container pb-5 mb-3">
    <div class="sous-titre-light">
    <h2><i class="fas fa-feather-alt mr-2"></i> Nos chemins se sont croisés <i class="fas fa-feather-alt ml-2"></i></h2>
    </div>
    <div class="testimonials">


    <div class="card">
      <div class="layer"></div>
      <div class="content">
        <div class="details mb-3">
          <h2>Nadège <p>France</p></h2>
          <h2 class="mt-3"><span>Soin à distance & atelier gestion de l'hypersensibilité adulte </span></h2>
        </div>
        <p> "A peine croyable, moi qui suis pharmacienne et cartésienne,
        je n'aurai jamais pensé un jour que l'énergétique allait pouvoir me permettre de ne plus avoir de crise d'angoisse et de mieux dormir."</p>
      </div>
    </div>

    <div class="card">
      <div class="layer"></div>
      <div class="content">
        <div class="details mb-3">
          <h2>Thomas <p>Valais, Suisse</p></h2>
          <h2 class="mt-3"><span>Soin Acmos & atelier gestion de l'hypersensibilité adolescent</span></h2>
        </div>
        <p> "Le soin bioénergétique accompagné du cours de gestion de l'hypersensibilité m'ont permis de ne plus ressentir les oppressions
        et de ne plus me sentir comme une éponge par rapport à mon environnement."</p>
      </div>
    </div>

    <div class="card">
      <div class="layer"></div>
      <div class="content">
        <div class="details mb-3">
          <h2>Solange <p>Iles Canaries, Espagne</p></h2>
          <h2 class="mt-3"><span>Soin à distance & coaching </span></h2>
        </div>
        <p> "Un mieux être s'est installé dès la première séance, un élan dans la réalisation de mes tâches quotidiennes qui depuis mon burnout étaient difficiles à réaliser.
        <br> <br>Le coaching m'a aussi beaucoup aidé à comprendre comment je fonctionnais et quels outils je peux utiliser au quotidien pour me sentir mieux et plus sereine." </p>
      </div>
    </div>
  </div>
</div>


  <!-- code Témoignages section Carousel-->












