<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- titre 70 caracteres max -->
    <title>Guérison : approche sciencifique et énergétique - Comment utiliser les énergies pour guérir?</title>

    <!--qui fournira à Google le texte de résumé qu'il affichera dans ses SERP : 100 min et 160 caracteres max -->
    <meta name="description" content="Pharmacienne et bioénergéticienne - L'énergie au service de notre santé. Comment utiliser les énergies pour guérir? Les hypersensibles.">

    <!--(ou noindex, nofollow, etc.) qui indiquera à Googlebot s'il doit indexer (ou pas) et suivre les liens (ou pas) de cette page -->
    <meta name="robots" content="index,follow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- navbar -->
    <aside>


    </aside>
      <input type="checkbox" id="menu-toggle"/>
        <label id="trigger" for="menu-toggle"></label>
        <label id="burger" for="menu-toggle"></label>
        <ul id="menu" style="list-style-type: outside">

          <li class ="pt-3 mt-5 mb-2">
            <a <%=link_to "HOME", root_path%></a>
          </li>

          <li class ="mb-2">
            <a <%=link_to "BIOENERGIE", bioenergie_path%></a>
          </li>

          <li class =" mb-2">
            <a <%=link_to " - Soins", soins_path%></a>
          </li>

          <li class ="mb-2" id="distance">
            <a <%=link_to " - Soins à distance", soins_a_distance_path%></a>
          </li>
          <li class ="mb-2">
            <a <%= link_to "- Animaux", animaux_path %></a>
          </li>

          <li class ="mb-2">
            <a <%= link_to "HYPERSENSIBILITE", ateliers_path %></a>
          </li>

          <li class ="mb-2">
            <a <%= link_to "COACHING", coaching_path %></a>
          </li>
          <li class ="mb-2" id="distance">
            <a <%=link_to "DR. EN PHARMACIE ", therapeute_pharmacienne_bioenergeticienne_path%></a>
          </li>
          <li class ="mb-2">
            <a <%= link_to "CONTACT", contact_path %></a>
          </li>
        </ul>

    <div class="container mt-0 mb-0">
      <%= link_to root_path, :action => 'go' do %>
        <%= image_tag 'logo-bois-test.png', height: '200px', alt: "Logo Energies et Guérison"%>
      <% end %>
    </div>

    <!-- semi responsive navbar sans le burger qui se deploit -->



        <!--<nav>
        <nav>
        <ul class="nav-links">
          <li>
            <a <%=link_to "Home", root_path%></a>
          </li>
          <li>
            <a <%=link_to "Bioénergie", bioenergie_path%></a>
          </li>
          <li>
            <a <%=link_to "Soins", soins_path%></a>
          </li>
          <li>
            <a <%= link_to "Ateliers", ateliers_path %></a>
          </li>
          <li>
            <a <%= link_to "Activités", actus_path %></a>
          </li>
          <li>
            <a <%=link_to "Thérapeute", therapeute_pharmacienne_bioenergeticienne_path%></a>
          </li>
          <li>
            <a <%= link_to "Contact", contact_path %></a>
          </li>
        </ul>

        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>

      </nav>
      <script src="application.js"></script>



  <!-- grand ecran navbar -->
       <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <div class="navbar-brand ml-2">
            <a class="navbar-brand "<%=link_to "Energies & Guérison", root_path%></a>

          </div>


          <div class="collapse navbar-collapse" >
            <div class="navbar-nav ">
              <a class="nav-item nav-link"<%=link_to "Home", root_path%></a>
              <a class="nav-item nav-link"<%=link_to "Soins", soins_path%></a>
              <a class="nav-item nav-link"<%= link_to "Ateliers", ateliers_path %></a>
              <a class="nav-item nav-link"<%= link_to "Activités", actus_path %></a>
              <a class="nav-item nav-link"<%=link_to "Thérapeute", therapeute_pharmacienne_bioenergeticienne_path%></a>
              <a class="nav-item nav-link"<%= link_to "Contact", contact_path %></a>
            </div>
          </div>

          <div class="collapse navbar-collapse navbar-nav droite" >
              <a class="nav-item nav-link ">Français</a>
              <a class="nav-item nav-link ">English</a>
          </div>

        </nav>
      </div>


        <!-- code le contenu de la page -->

      <div class= "scroll-container">
        <%= yield %>
      </div>

        <!-- Footer -->

        <footer class="footer">

          <div class="footer_line" >
          </div>



            <!-- Grid row -->
            <div class="footer-container-contact-product row mt-5">

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 ml-5 ">

                <!-- Links -->

                <h6 class=" footer-heading "><%=link_to "ENERGIES ET GUERISON", root_path%></h6>

                <p class= "mb-1">
                  <a href=""><%= link_to "Bioénergie", bioenergie_path %></a>
                </p>
                 <p class= "mb-1">
                  <a href=""><%= link_to " - Soins à distance", soins_a_distance_path %></a>
                </p>
                <p class= "mb-5">
                  <a href=""><%= link_to " - Animaux", animaux_path %></a>
                </p>
              </div>


              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 ml-5 ">

                <!-- Links -->

                <h6 class=" footer-heading"><%=link_to "PHARMACIENNE - BIOENERGETICIENNE", therapeute_pharmacienne_bioenergeticienne_path%></h6>


                <p class= "mb-1">
                  <a href=""><%= link_to "Hypersensibilité", ateliers_path %></a>
                </p>

                <p class= "mb-5">
                  <a href=""><%= link_to "Coaching", coaching_path %></a>
                </p>
              </div>

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 ml-5">

                <!-- Links -->
                <h6 class="footer-heading"><%= link_to "CONTACT", contact_path %>
                </h6>
                <!-- Facebook Links : <a href="https://www.facebook.com/Energies-et-Gu%C3%A9rison-103654888370847"><i class="fab facebook footer-social-icon fa-facebook-f"></i></a>
                  Fin Facebook link-->

                <p class= "mb-1">
                  <a href="https://www.google.ch/maps/place/Saint-Prex/@46.4659738,6.4385357,13z/data=!3m1!4b1!4m5!3m4!1s0x478c39b501ea0fe1:0xdc0de6e932131cda!8m2!3d46.4829113!4d6.4583435 ">Saint-Prex, Vaud, Suisse</a></p>
                <p class= "mb-1">
                  <a href="mailto:nfo@energies-et-guerison.com">info@energies-et-guerison.com</a></p>
                <p class= "mb-1">
                  <a href="tel:+41 76 69 06 802 ">+41 76 69 06 802</a></p>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          <!-- Copyright -->
          <div class="text-center copyright mt-3 pb-2">
            <p class="f-14">© 2021 Copyright par www.energies-et-guerison.ch</p>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->



      </div>

  </body>


</html>
