<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SynergyTherapies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thérapies</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Formations</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Prix</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Français</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Anglais</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="navbar">
      <a href="#home">Home</a>
      <div class="subnav">
        <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="#company">Company</a>
          <a href="#team">Team</a>
          <a href="#careers">Careers</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="#bring">Bring</a>
          <a href="#deliver">Deliver</a>
          <a href="#package">Package</a>
          <a href="#express">Express</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="#link1">Link 1</a>
          <a href="#link2">Link 2</a>
          <a href="#link3">Link 3</a>
          <a href="#link4">Link 4</a>
        </div>
      </div>
      <a href="#contact">Contact</a>
      </div>
      <%= yield %>

      <!-- Footer -->
      <br><br><br>
      <footer class="page-footer font-small unique-color-dark">

        <div style="background-color: #DCB669;">
          <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Find us on social media</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">

                <!-- Facebook -->
                <a href="https://www.facebook.com/Hugo-Mori-573113179817314/" class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4" style="font-size: 24px;"> </i>
                </a>
                <!-- Github -->
                <a href="https://github.com/hugo-mori" class="fb-ic">
                  <i class="fab fa-github-square white-text mr-4" style="font-size: 24px;"></i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text mr-4" style="font-size: 24px;"> </i>
                </a>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row-->

          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

          <!-- Grid row -->
          <div class="row mt-3">

            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

              <!-- Links -->
              <h6 class="text-uppercase">Produits</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a href="https://www.lewagon.com/fr/lausanne">Soins</a>
              </p>
              <p>
                <a href="https://www.airbnb.com/l/sem_recommend_destination?af=43720035&c=.pi0.pk53373639558_252707103989_c_12026464216&sem_position=&sem_target=aud-295053684620:kwd-12026464216&location_of_interest=&location_physical=1003213&ghost=true&gclid=EAIaIQobChMIjZzA56vi5wIVg6oYCh06oA8NEAAYASAAEgKN2vD_BwE">Formations</a>
              </p>
              <p>
                <a href="https://images.unsplash.com/photo-1505843513577-22bb7d21e455?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2390&q=80">Actualités</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

              <!-- Links -->
              <h6 class="text-uppercase">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fas fa-home mr-3"></i>Saint-Prex</p>
              <p>
                <i class="fas fa-envelope mr-3"></i>info@combi-therapy</p>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
  </body>
</html>
